<div id="main">
      <div class="col-md-12">
      	  <p class="visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas"><i class="glyphicon glyphicon-chevron-left"></i></button>
          </p>
          <h2>Lessons</h2>
          
          <div class="row">
            <div class="col-md-4"><a><button class="well"><p>Lesson 1</p></button></div></a>
            <div class="col-md-4"><a><button class="well"><p>Lesson 2</p></button></div></a>
            <div class="col-md-4"><a><button class="well"><p>Lesson 3</p></button></div></a>
          </div>
          
      </div>
</div>