<div id="main">
      <div class="col-md-12">
      	  <p class="visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas"><i class="glyphicon glyphicon-chevron-left"></i></button>
          </p>
          <h2>Lessons</h2>
          
          <div class="row">
            <div class="col-md-4"><a><button class="well" name="1"><%= link_to("Lesson 1",
                  {:controller => 'lessons',
                    :action => 'lesson1'
                  }) %></button></div></a>
            <div class="col-md-4"><a><button class="well" name="2"><%= link_to("Lesson 2",
                  {:controller => 'lessons',
                    :action => 'lesson2'
                  }) %></button></button></div></a>
            <div class="col-md-4"><a><button class="well" name="3"><p>Lesson 3</p></button></div></a>
          </div>
          
      </div>
</div>